<div class="footer container-fluid">
    <ul class="list">
        <li>
            <div class="btn-group" dropdown>
                <button id="button-disabled-item" dropdownToggle type="button" class="btn  dropdown-toggle"aria-controls="dropdown-disabled-item">
                    Zidyia <span class="caret"></span>
                </button>
                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu"role="menu" aria-labelledby="button-disabled-item">
                    <li role="menuitem"><a class="dropdown-item " href="#">English</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Arabic </a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="btn-group" dropdown>
                <button id="button-disabled-item" dropdownToggle type="button" class="btn  dropdown-toggle"aria-controls="dropdown-disabled-item">
                    English <span class="caret"></span>
                </button>
                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu"role="menu" aria-labelledby="button-disabled-item">
                    <li role="menuitem" value="en" id="english"><a class="dropdown-item " href="#" >English</a></li>
                    <li role="menuitem" value="ar" id="arabic"><a class="dropdown-item" href="#" >Arabic </a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">FAQ</a></li>
    </ul>
</div>