@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');


$font1:35px;
$color1:#797878;
$color2:#adabab;
$color3:#000;
$color4:#fff;
$color6:#ddd;

$font-family: 'Be Vietnam', sans-serif;