@import url("https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap");
.profile {
  background-image: url("/assets/img/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 445px;
  padding-bottom: 11px;
}
.profile .imageProfile {
  text-align: center;
}
.profile .imageProfile img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #fff;
  padding: 6px;
}
.profile .imageProfile img:hover {
  padding: 4px;
}
.profile .imageProfile i {
  position: relative;
  right: 35px;
  top: 45px;
  font-size: 21px;
  color: #39dc99;
  background: #fff;
  padding: 5px;
  border-radius: 19px;
  border: 3px solid #158bd1;
}
.profile .imageProfile h1 {
  font-size: 23px;
  font-weight: bold;
  margin: 20px 0;
  color: #fff;
}
.profile .imageProfile p {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 30px;
}
.profile .imageProfile p a {
  color: #ddd;
  text-decoration: none;
}
.profile .imageProfile button {
  padding: 7px 50px;
  border-radius: 35px;
  font-size: 17px;
}
.profile .dashboard ul li {
  padding-right: 26px;
}
.profile .dashboard ul li:hover {
  border-bottom: 3px solid #fff;
}
.profile .dashboard ul li:hover a {
  color: #fff;
}
.profile .dashboard ul li a {
  text-decoration: none;
  color: #128ed4;
}
.profile .dashboard ul li span {
  color: #fff;
}
.profile .dashboard .my-dashboard {
  background: #fff;
  padding: 13px 37px 80px;
  position: relative;
  top: 69px;
  -webkit-box-shadow: -4px 10px 25px 0px #5c5b5c;
  -moz-box-shadow: -4px 10px 25px 0px #5c5b5c;
  box-shadow: -4px 10px 25px 0px #5c5b5c;
}
.profile .dashboard .my-dashboard p {
  font-weight: bold;
  color: #797878;
  margin-bottom: 35px;
}
.profile .dashboard .my-dashboard .Card {
  padding: 23px;
  background: #3bafe0;
  border-radius: 9px;
}
.profile .dashboard .my-dashboard .Card p {
  font-size: 8px;
  color: #fff;
  margin-bottom: 0;
}
.profile .dashboard .my-dashboard .Card p .fa-check-circle {
  font-size: 16px;
  padding: 3px;
}
.profile .dashboard .my-dashboard .Card p .fa-exclamation-circle {
  color: #f70628;
  font-size: 18px;
  padding: 2px;
}
.profile .dashboard .my-dashboard .Card .number {
  font-size: 14px;
  font-weight: 100;
}

@media (max-width: 575.98px) {
  .profile {
    background-position: center;
    background-repeat: initial;
    background-size: unset;
    background-attachment: fixed;
    height: unset;
    padding-bottom: 100px;
  }
  .profile .dashboard .my-dashboard {
    position: relative;
    top: 50px;
  }
  .profile .dashboard ul li {
    display: block;
    font-size: 18px;
    text-align: center;
  }
  .profile .dashboard .my-dashboard .Card p {
    font-size: 14px;
  }
  .profile .dashboard .my-dashboard .Card .c100.small {
    float: none;
  }
  .profile .dashboard .my-dashboard .Card .number {
    visibility: hidden;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .profile {
    background-position: center;
    background-repeat: initial;
    background-size: unset;
    background-attachment: fixed;
    height: unset;
    padding-bottom: 100px;
  }
  .profile .dashboard .my-dashboard {
    position: relative;
    top: 50px;
  }
  .profile .dashboard ul li {
    display: block;
    font-size: 18px;
    text-align: center;
  }
  .profile .dashboard .my-dashboard .Card p {
    font-size: 12px;
  }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .profile {
    background-position: center;
    background-repeat: initial;
    background-size: unset;
    background-attachment: fixed;
    height: unset;
    padding-bottom: 100px;
  }
  .profile .imageProfile img {
    width: 150px;
    height: 150px;
  }
  .profile .imageProfile h1 {
    font-size: 40px;
  }
  .profile .imageProfile p {
    font-size: 20px;
  }
  .profile .imageProfile button {
    padding: 7px 74px;
    font-size: 20px;
  }
  .profile .dashboard .my-dashboard {
    position: relative;
    top: 50px;
  }
  .profile .dashboard ul li {
    display: block;
    font-size: 18px;
    text-align: center;
  }
  .profile .dashboard .my-dashboard .Card p {
    font-size: 16px;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .profile .dashboard ul li {
    font-size: 14px;
  }
  .profile .dashboard .c100.small {
    font-size: 50px;
  }
  .profile .dashboard .my-dashboard .Card {
    padding: 13px;
  }
  .profile .dashboard .my-dashboard .Card .number {
    font-size: 11px;
  }
  .profile .dashboard .my-dashboard .Card .col-lg-5 {
    padding-left: 0;
    padding-right: 0;
  }
  .profile .dashboard .my-dashboard .Card .fa-check-circle {
    font-size: 10px;
  }
  .profile .dashboard .my-dashboard .Card .fa-exclamation-circle {
    font-size: 16px;
  }
}

/*# sourceMappingURL=profile.component.css.map */
