<div class="profile">
    <div class="container-fluid">
        <div class=" row">
            <div class="imageProfile mt-5 col-lg-4 col-sm-12">
                <div class="image">
                    <img src="assets/img/profile.jpg" alt="profile">
                    <i class="fas fa-check-circle"></i> 
                </div>
                <h1>{{nameFirst}} {{nameLast}}</h1>
                <p>UI Developer</p>
                <p><a href="#"class="fas fa-map-marker-alt"> cairo,Egypt </a></p>
                <button type="button" class="btn btn-primary"> Edit Your Profile</button>
            </div>
            <div class="dashboard col-lg-8 col-sm-12"> 
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link fas fa-tachometer-alt" href="#"> </a>
                                <span>My Dashboard</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fas fa-graduation-cap" href="#"> </a>
                                <span>Education</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fas fa-briefcase" href="#"></a>
                                <span>Work</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fas fa-certificate" href="#"></a>
                                <span>Certifications</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fas fa-tools" href="#"></a>
                                <span>Skills</span>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="my-dashboard">
                    <div class="row">
                        <div class="col-lg-5 mt-5">
                            <p>Education <a class="fas fa-pencil-alt"></a></p>
                            <div class="Card row">
                                <div class="col-lg-4 col-sm-4">
                                        <circle-progress
                                        [percent]="85"
                                        [radius]="100"
                                        [outerStrokeWidth]="16"
                                        [innerStrokeWidth]="8"
                                        [outerStrokeColor]="'#78C000'"
                                        [innerStrokeColor]="'#C7E596'"
                                        [animation]="true"
                                        [animationDuration]="1200"
                                      ></circle-progress>
                                </div>
                                <div class="col-lg-6 col-sm-5 mt-4">
                                    <p><i class="fas fa-check-circle"></i> EDUCATION DONE</p>
                                    <p><i class="fas fa-exclamation-circle"></i> 2 PENDING</p>
                                </div>
                                <div class="col-lg-2 col-sm-3">
                                    <p class="number">7</p>
                                    <p class="number">TOTAL</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class=" col-lg-5 mt-5">
                                <p>Work <a class="fas fa-pencil-alt"></a></p>
                                <div class=" Card row">
                                    <div class="col-lg-4 col-sm-4 ">
                                        <div class="c100 p54 small">
                                                <span>54%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6 mt-4 col-sm-5">
                                        <p><i class="fas fa-check-circle"></i>5 Work DONE</p>
                                        <p><i class="fas fa-exclamation-circle"></i> 1 PENDING</p>
                                    </div>
                                    <div class="col-lg-2 col-sm-3">
                                        <p class="number">12</p>
                                        <p class="number">TOTAL</p>
                                    </div>
                                </div>
                        </div>
                        <div class=" col-lg-5 mt-5">
                                <p>Certifications <a class="fas fa-pencil-alt"></a></p>
                                <div class="Card row">
                                    <div class="col-lg-4 col-sm-4">
                                            <div class="c100 p90 small">
                                                    <span>90%</span>
                                                    <div class="slice">
                                                        <div class="bar"></div>
                                                        <div class="fill"></div>
                                                    </div>
                                                </div>
                                    </div>
                                    <div class="col-lg-6 mt-4 col-sm-5">
                                        <p><i class="fas fa-check-circle"></i>3 Certifications DONE</p>
                                        <p><i class="fas fa-exclamation-circle"></i>1 PENDING</p>
                                    </div>
                                    <div class="col-lg-2 col-sm-3">
                                        <p class="number">4</p>
                                        <p class="number">TOTAL</p>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class=" col-lg-5 mt-5 ">
                                <p>Skills <a class="fas fa-pencil-alt"></a></p>
                                <div class="Card row">
                                    <div class="col-lg-4 col-sm-4">
                                            <div class="c100 p80 small">
                                                    <span>80%</span>
                                                    <div class="slice">
                                                        <div class="bar"></div>
                                                        <div class="fill"></div>
                                                    </div>
                                                </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-5 mt-4">
                                        <p><i class="fas fa-check-circle"></i> 3 Skills DONE</p>
                                        <p><i class="fas fa-exclamation-circle"></i>2  PENDING</p>
                                    </div>
                                    <div class="col-lg-2 col-sm-3">
                                        <p class="number">5</p>
                                        <p class="number">TOTAL</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>